.combat {
  --animation-play-state: running;
  &--paused {
    --animation-play-state: paused;
  }

  width: 100%;
  height: 100%;

  &__ship {
    top: 55px;
    &--mine {
      left: 150px;
    }
    &--enemy {
      right: 150px;
    }
  }

  &__systems {
    position: absolute;
    top: 16px;
    width: 220px;
    display: flex;
    flex-direction: column;

    &--mine {
      left: 16px;
    }
    &--enemy {
      right: 16px;
    }
  }

  &__ship-status {
    position: absolute;
    bottom: 16px;
    &--mine {
      left: 16px;
    }
    &--enemy {
      right: 16px;
    }
  }

  &__pause {
    position: absolute;
    left: 50%;
    bottom: 40px;
    padding: 4px;
    transform: translateX(-50%);
  }
}
