.dmg-text {
  position: absolute;
  padding: 4px;
  background: #0008;
  font-size: 12px;
  animation: dmg-text 1s ease-in-out both;

  &--miss {
    color: yellow;
  }
  &--shield {
    color: rgb(144, 227, 255);
  }
  &--hull {
    color: rgb(248, 46, 46);
  }
}

@keyframes dmg-text {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}
