.ship {
  position: absolute;

  width: 512px;
  height: 512px;
  // outline: 2px solid red;

  &__base {
    width: 100%;
    height: 100%;
    transform: rotateZ(270deg);
    image-rendering: pixelated;
  }

  &__name {
    position: absolute;
    padding: 2px;
    font-size: 8px;
    transform: rotateZ(270deg);
    transform-origin: top left;
  }

  &__shield {
    position: absolute;
    background: rgb(144, 227, 255);
    border-radius: 50%;
    opacity: 0.5;
  }
}

.ship-a {
  .ship__name {
    top: 356px;
    left: 288px;
    background: #331b2c;
  }
  .ship__shield {
    top: 90px;
    left: 153px;
    width: 200px;
    height: 338px;
  }
}

.ship-b {
  .ship__name {
    top: 294px;
    left: 334px;
    background: #010a08;
  }
  .ship__shield {
    top: -7px;
    left: 65px;
    width: 376px;
    height: 523px;
  }
}
