* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 1280px;
  min-height: 720px;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(backgrounds/GIF_2FPS/space9_4-frames.gif);
  color: #fff;
}

.app {
  position: relative;
  width: 1280px;
  height: 720px;
  min-width: 0;
  min-height: 0;

  background-color: #0006;
  box-shadow: 0 0 0 50vmax #0009;

  &__ui {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
  }

  &__canvas {
    width: 100%;
    height: 100%;
  }
}
